.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #495E57;
  color: white;
  padding: 2rem;
  gap: 4rem;
}
.footerLinks{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 3rem;
}
.footer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.footerLinks p{
  font-size: 18px;
  font-weight: 600;
  color: #F4CE14;
}

@media screen and (max-width: 992px){
  
}
@media screen and (max-width: 768px){
  .footer{
    flex-direction: column;
    gap: 2rem;
  }
  .footer p{
    font-size: 16px;
  }
  .footer a{
    font-size: 14px;
  }
}
@media screen and (max-width: 562px){
  .footer{
    gap: 1rem;
    padding: 1rem;
  }
  .footerLinks{
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  .footer p{
    font-size: 14px;
    font-weight: 400;
  }
  .footer a{
    font-size: 12px;
    font-weight: 300;
    
  }
}